* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   
    background: linear-gradient(135deg, #91ff79 0%, #82deff,  #656fff);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
